/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* MY CSS STARTS HERE */

/* ROOT COLORS AND FONTS */

:root{
  --dk-blue: #020659;
  --med-dk-blue: #020873;
  --med-blue: #030A8C;
  --bright-blue: #2104D9;
  --lt-blue: #0D8DfB;
  --lightest-blue: #2699FB;
  --wine-red: #590242;
  --white: #ffffff;
  --black: #000000;

  --body-fonts: Verdana, Geneva, Tahoma, sans-serif;
  --h1-font-size: 1.25em;
  --h2-h3-font-size: 1em;
  --p-dl-dd-font-size: 1em;
  --footer-p-font-size: .75em;
}
* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}
html {
    background-color: var(--dk-blue);
}
body {
    min-width: 375px;
    font-family: var(--body-fonts);
    font-size: var(--p-dl-dd-font-size);
    line-height: 1.35;
    margin: 0 auto;
    background-color: var(--white);
}

/* HEADER */

header {
    background: linear-gradient(to right, #2104D9, #020659, #020873, #000000);
    color: var(--white);
    padding: 5px 30px 20px 30px;
    width: 100%;
} 
header p {
    text-align: left;
} 
/* H1 H2 H3 */

h1 {
    font-size: var(--h1-font-size);
    color: var(--white);
}
h2 {
    padding-left: 35px;
}
h2, h3 {
    font-size: var(--h2-h3-font-size);
    color: var(--wine-red);
}
h1, h2, h3 {
    line-height: 2em;
    text-transform: uppercase;
    font-weight: bold;   
} 

/* NAV */

nav {
    top: 0;
    position: relative;
    background-color: var(--med-blue);
    padding-left: 20px;
}
nav a {
    text-decoration: none;
    color: var(--white);
    padding: 5px;
    display: block;
}
nav a:hover {
    color: var(--lightest-blue);
}
nav h2 {
  visibility: hidden;
  height:1px;
}

li:nth-of-type(1) a {
    font-variant: small-caps;
    font-weight: bold;
    font-size: 2em;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 35%;    
}
li:nth-of-type(2n) a {
    text-transform: uppercase;
    
}
li:nth-of-type(2n + 2) a {
    text-transform: uppercase;
}
li:nth-of-type(2n + 3) a {
    text-transform: uppercase;
}

/* HAMBURGER NAV BAR */

ul {
    grid-column-start: 1;
    grid-column-end: 2;
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}
label {
    grid-column-start: 1;
    grid-column-end: 2;
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}

main {
    padding-top: 20px;

    /* SCROLL BARS */
}

.scroll {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: auto;
    overflow-y: hidden;
}
.scroll section {
    margin: 10px;
    position: relative;
}
.scroll div {
    position: absolute;
    top: 251px;
    background-color: rgba(255,255,255,.75);
    padding: 5px;
    height: 60px;
    width: 350px;
}
audio {
    position: absolute;
    bottom: 150px;
    left: 5px;
}
dl {
    display: flex;
    color: var(--wine-red);
}
dt {
    padding-right: 5px;
    font-style: italic;
}

/* ASIDE SCROLL DIVS */

aside .scroll {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow-x: auto;
    overflow-y: hidden;
    background-color: var(--lightest-blue);
}
aside .scroll h3, p {
    color: var(--white);
    text-align: center;
    line-height: 1.25em;
}
aside .scroll h3{
    padding-bottom: 10px;
}
aside .scroll section {
    margin: 10px;
    position: relative;
    background-color:var(--lt-blue);
    padding: 10px 10px 20px 10px;
}
aside .scroll section:hover {
    background-color: var(--dk-blue);
}
aside .scroll div{
    position: absolute;
    top: 125px;
    padding: 5px;
    height: 50px;
    width: 350px;
}

/* ASIDE CURATED PLAYLIST */

aside #curated .scroll  {
    background-color: var(--med-blue);
}
aside .scroll .curatedPlaylist{
    background-color: var(--dk-blue);
}
aside .scroll .curatedPlaylist:hover {
    background-color: var(--wine-red);
}

/* SLIDE BARS AND AUDIO CONTROLLER*/

audio::-webkit-media-controls-mute-button {
    

}
audio::-webkit-media-controls-play-button {

}
audio::-webkit-media-controls-enclosure {
    background-color: rgba(255,255,255,.5);
}
#trending ::-webkit-scrollbar {
    width: 15px;
}
#trending ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px var(--wine-red);
}
#trending ::-webkit-scrollbar-thumb {
    background: var(--wine-red);
    border-radius: 5px;
}
#trending ::-webkit-scrollbar-thumb:hover {
    background: var(--dk-blue);
}
#playlists ::-webkit-scrollbar, #curated ::-webkit-scrollbar {
    width: 15px;;
}
#playlists ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track  {
    box-shadow: inset 0 0 15px var(--dk-blue);
}
#playlists ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb {
    background: var(--dk-blue);
    border-radius: 5px;
}
#playlists ::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover {
    background: var(--white);
}

/* BUTTONS */

button {
    font-family: var(--body-fonts);
    font-size: var(--p-dl-dd-font-size);
    line-height: 1.35;
    text-decoration: none;
    background-color: var(--wine-red);
    color: var(--white);
    border-radius: 5px;
    padding: 10px;
    width: 170px;
    display: block;
    text-align: center;
    margin: 10px 0 30px 32px;
}
button:hover {
    background-color: var(--dk-blue);
}

/* FOOTER */

footer {
    color: var(--wine-red);
    font-size: var(--footer-p-font-size);
    text-align: center;
    padding-bottom: 10px;
    width: 100%;
}


/* MEDIA QUERY */

@media screen and (min-width:834px) {


ul {
    overflow: visible;
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    width: 100%;
}
label span, input {
    display: none;
}
nav {
    display: grid;
    grid-template-columns: 1fr;
}
li:nth-of-type(1) a {
    grid-column-start: 1;
    grid-column-end: 2;
    position: inherit;
}

  aside {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  aside .scroll {
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr;
    width: 50%;
  }
  aside .scroll h3, p {
    grid-column-start: 2;
    grid-column-end: 3;
    margin: auto 0;
  }
  aside .scroll section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
  }
  aside .scroll section img {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  
  button {
    grid-row-start: 2;
    grid-row-end: 3;
  }




    

}
